# Python 临时文件
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# 数据文件 (如果你不想把几百MB的原始数据传上去，可以保留，只传代码)
weibo-search/结果文件/
*.csv
!golden_testset_labeled.csv  # 唯独保留我们的金库

# 微博 Cookie 和配置文件 (保护你的隐私)
# 建议手动在 settings.py 里把 cookie 删掉再上传，
# 或者把整个 settings 排除。目前为了安全我先帮你排除设置文件夹。
weibo-search/weibo/settings.py

# 模型文件 (如果太大可以不传，或者传上去方便演示)
# *.pkl

# VS Code 配置文件
.vscode/

# 其他缓存
.ipynb_checkpoints/
.gemini/
